body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

section {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.reaction-item, .trending-item, .boost-item {
    display: inline-block;
    width: 150px;
    margin: 15px;
    text-align: center;
}

.reaction-item img, .trending-item img, .boost-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.reaction-item p, .trending-item p, .boost-item p {
    font-size: 1em;
    color: black;
}
